*{
    background-color: black;
}
.ex{
    color: aliceblue;
}
#para{
    color: rgb(50, 203, 203);
}
h2{
    color: rgb(223, 195, 158);
}
div p{
    color: rgb(162, 162, 151);
}
div > ul{
    color: rgb(38, 202, 70);
}
.key{
    color: aquamarine;
}
#rel{
    color: rgb(83, 83, 227);
}
.sty{
    color: blueviolet;
}
#p{
    color: brown;
}
.ad{
    color: rgb(106, 106, 225);
}
#list{
    color: rgb(110, 221, 221);
}